/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}
p {
  font-size: 0.8em;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}
/********Header************/
header {
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#logo {
  width: 60px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.liens-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}
.lien-hebergement {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 3px #0065fc solid;
  color: #0065fc;
  width: 7em;
  height: 3em;
}
.lien-activites {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 3px white solid;
  width: 7em;
  height: 3em;
}
/******SectionRecherche*****/
.recherche {
  padding: 20px 0 20px 0;
}
h1 {
  margin-bottom: -0.3em;
}

.Barre-de-recherche {
  display: flex;
  align-items: center;
  border: none;
  width: 50%;
  padding: 10px;
}
.fa-location-dot {
  color: black;
}
.icone-location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}
.texte-recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  height: 50px;
  padding-left: 1em;
  border: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
}
#btn-rechercher {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0065fc;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  height: 50px;
  width: 120px;
}

/*******SearchFiltres********/
h3 {
  font-size: 0.9em;
}
.filtres {
  margin: 20px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.fltre-eco {
  display: flex;
  justify-content: center;
  width: 20%;
  border: #f2f2f2 2px solid;
  border-radius: 25px;
}
.fltre-eco:hover {
  background-color: #deebff;
}
.fltre-familial {
  display: flex;
  justify-content: center;
  width: 20%;
  border: #f2f2f2 2px solid;
  border-radius: 25px;
}
.fltre-familial:hover {
  background-color: #deebff;
}
.fltre-romantique {
  display: flex;
  justify-content: center;
  width: 20%;
  border: #f2f2f2 2px solid;
  border-radius: 25px;
}
.fltre-romantique:hover {
  background-color: #deebff;
}
.fltre-pepite {
  display: flex;
  justify-content: center;

  width: 20%;
  border: #f2f2f2 2px solid;
  border-radius: 25px;
}
.fltre-pepite:hover {
  background-color: #deebff;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
